<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:description" content="Enjoy the cusiune of Ruthie Akinbowale! Order her food online directly given the data of the food, get it delivered to your house, and enjoy! Just visit this website.">
  <meta name="description" content="Enjoy the cusiune of Ruthie Akinbowale! Order her food online directly given the data of the food, get it delivered to your house, and enjoy! Just visit this website.">
  <title>Home | Ruthielove Cusiune</title>
  <link rel="stylesheet" href="/princess.css" />
</head>
<body>
  <main>
    <h1>aye</h1>
    <p>Hello World!</p>
  </main>
</body>
</html>