<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:description" content="Enjoy the cusiune of Ruthie Akinbowale! Order her food online directly given the data of the food, get it delivered to your house, and enjoy! Just visit this website.">
  <meta name="description" content="Enjoy the cusiune of Ruthie Akinbowale! Order her food online directly given the data of the food, get it delivered to your house, and enjoy! Just visit this website.">
  <title>Home | Ruthielove Cusiune</title>
  <link rel="stylesheet" href="/princess.css" />
</head>
<body>
  <nav class="navbar">
    <a href="/">
      <img src="https://website.com/image.png" />
    </a>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle"/>
      <label for="checkbox_toggle" class="hamburger">☰</label>
      <div class="menu">
        <li><a href="https://website.com/link">Link</a></li>
        <li class="nav-dropdown">
          <a href="https://website.com/link">Link</a>
          <ul class="dropdown">
            <li><a href="https://website.com/link">Dropdown</a></li>
            <li><a href="https://website.com/link">Dropdown</a></li>
            <li><a href="https://website.com/link">Dropdown</a></li>
            <li><a href="https://website.com/link">Dropdown</a></li>
            <li><a href="https://website.com/link">Dropdown</a></li>
          </ul>
        </li>
      <li><a href="https://website.com/link">Link</a></li>
    </div>
    </ul>
  </nav>
  <main>
    <h1></h1>
    <p>Hello World!</p>
  </main>
</body>
</html>